<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinerix</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='logo.svg') }}">
</head>

<body>

    <header>
        <nav class="navbar">
    <div class="left">
        <div class="logo">
            <img src="{{ url_for('static', filename='logo.svg') }}" alt="Logo" width="50px">
        </div>
        <div class="name">
            <a href="#">Cinerix</a>
        </div>
    </div>

    <ul class="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">Movies</a></li>
        <li><a href="#">Anime</a></li>
        <li><a href="#">Ranking</a></li>
         <form method="POST">
                    <input type="text" name="search" placeholder="Search Movies">
                    <button type="submit">Search</button>
                </form>
    </ul>
</nav>
    </header>
    <div class="box">
        {% for movie in movies %}
        <a href="/movies/{{movie.id}}">
            <div class="moviesbox">

                <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" width="250">

                <h2>{{ movie.title }}</h2>
                <p>Rating: {{ movie.vote_average }} ({{ movie.vote_count }} votes)</p>
                <p>Genre:{{ movie.genre_ids }}</p>
                <p>Release: {{ movie.release_date }}</p>
                <p>Popularity: {{ movie.popularity }}</p>
                <p>Adult:{{movie.adult}}</p>

                {% if movie.vote_average > 8 %}
                <p class="top-rated">⭐ Top Rated</p>
                {% endif %}

            </div>
        </a>
        {% endfor %}
    </div>

</body>

</html>